:root {
    --primary: #E88F2A;
    --secondary: #FAF3EB;
    --light: #FFFFFF;
    --dark: #2B2825;
}

.font-secondary {
    font-family: 'Pacifico', cursive;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

a {
    text-decoration: none;
}

.btn {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary {
    color: #FFFFFF;
}

.border-inner {
    position: relative;
}

.border-inner * {
    position: relative;
    z-index: 1;
}

.border-inner::before {
    position: absolute;
    content: "";
    top: 9px;
    right: 10px;
    bottom: 11px;
    left: 10px;
    background: none;
    border: 1px solid var(--light);
    z-index: 0;
}

.btn-square {
    width: 40px;
    height: 40px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 50px;
    height: 50px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 0;
    border-radius: 0;
    z-index: 99;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Oswald', sans-serif;
    padding: 30px 15px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--light);
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 15px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--light);
    background-color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

.hero-header {
    background: url(../img/hero_img_3.jpg) top right no-repeat;
    background-size: cover;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 10px;
    left: 50%;
    bottom: 0;
    margin-left: -30px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 180px;
    height: 2px;
    left: 50%;
    bottom: 4px;
    margin-left: -90px;
    background: var(--primary);
}

.service::after,
.contact::after {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% - 45px);
    top: 135px;
    left: 0;
    background: linear-gradient(rgba(43, 40, 37, .9), rgba(43, 40, 37, .9)), url(../img/service.jpg) center center no-repeat;
    background-size: cover;
    z-index: -1;
}

.contact::after {
    background: linear-gradient(rgba(43, 40, 37, .5), rgba(43, 40, 37, .5)), url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
}


.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
    filter: blur(5px)
}

.team-item .team-overlay {
    transition: .5s;
    opacity: 0;
}

.team-item:hover .team-overlay {
    opacity: 1;
}

.bg-img {
    background: linear-gradient(rgba(43, 40, 37, .5), rgba(43, 40, 37, .5)), url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
}

.about_heading {
    text-align: justify;
    font-size: 19px;
}

.about_para {
    text-align: justify;
}

.fact_section {
    width: 60px;
    height: 60px;
}

.nav-pills .nav-link.active {
    color: var(--light);
    background-color: var(--primary);
}

.fa-location-dot,
.fa-envelope,
.fa-phone,
.fa-arrow-right {
    color: var(--primary);
}
.cart-menu i{
    font-size: 25px;
}
.cart-menu span{
    background-color: red;
    position: absolute;
    top: 52%;
    right: 22%;
    width: 20px;
    height: 20px;
    color: var(--light);
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-tab{
    background-color: var(--dark);
    color: var(--light);
    width: 400px;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: grid;
    grid-template-rows: 70px 1fr 70px;

}
.cart-tab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cart-tab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cart-tab .btn button{
    background-color: var(--primary);
    border: none;
    outline: none;
    font-weight: 500;
}
.cart-tab .btn button.close{
    background-color: var(--secondary);
}
.cart-tab .list-cart{
    overflow: hidden;
}
.cart-tab .list-cart::-webkit-scrollbar{
    width: 0;
}
.cart-tab{
    right: -400px;
    transition: 0.5s;
}
body.activeTabCart .cart-tab{
    right: 0;
}

.cake_item {
    width: 100%;
    cursor: pointer;
}

#cake_img_1,#cake_img_2,#cake_img_3,#cake_img_4,
    #cake_img_5,#cake_img_6,#cake_img_7,#cake_img_8,
    #cake_img_9,#cake_img_10,#cake_img_11,#cake_img_12,
    #cake_img_13,#cake_img_14,#cake_img_15,#cake_img_16,
    #cake_img_17,#cake_img_18
{
    width: 150px;
    height: 85px;
}

.cake-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.cake-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 100px;
    width: 30rem;
    
}

.cake-preview .preview.active {
    display: inline-block;
}

.cake-preview .preview img {
    width: 15rem;
    height: 12rem;
}

.cake-preview .preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 40px;
    transition: 0.5s;
}

.cake-preview .preview .fa-times:hover {
    transform: rotate(180deg);
}

.cake-preview .preview h3 {
    color: #444;
    padding: 5px 0;
    font-size: 30px;
}

.cake-preview .preview .stars {
    padding: 5px 0;
    font-size: 20px;
}

.cake-preview .preview .stars i {
    color: #27ae60;
}

.cake-preview .preview .stars span {
    color: #999;
}

.cake-preview .preview p {
    line-height: 1.5;
    padding: 10px 0;
    font-size: 20px;
    color: #777;
}

.cake-preview .preview .price {
    padding: 10px 0;
    font-size: 25px;
    color: #27ae60;
}

.cake-preview .preview .buttons {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 10px;
}

.cake-preview .preview .buttons a {
    flex: 1 1 16px;
    padding: 10px;
    font-size: 20px;
    color: #444;
    border: 1px solid #444;
}

.cake-preview .preview .buttons a.cart {
    background: #444;
    color: #fff;
}

.cake-preview .preview .buttons a.cart:hover {
    background: #111;
}

.cake-preview .preview .buttons a.buy:hover {
    background: #444;
    color: #fff;
}

/* #cake_item{
    cursor: pointer;
} */


@media (max-width:1200px) {
    .fact_des h1 {
        font-size: 25px;
    }
}

@media (max-width:1024px) {
    .hero-header {
        background-position: center;
    }
}

@media (max-width:820px) {
    .hero-header {
        background-position: center;
    }
}

@media (max-width:768px) {
    .hero-header {
        background-position: center;
    }
}

@media (max-width:431px) {
    .hero-header a {
        margin: 0 !important;
    }

    .hero-header {
        background-position: center;
    }

    #cake_img_1,#cake_img_2,#cake_img_3,#cake_img_4,
    #cake_img_5,#cake_img_6,#cake_img_7,#cake_img_8,
    #cake_img_9,#cake_img_10,#cake_img_11,#cake_img_12,
    #cake_img_13,#cake_img_14,#cake_img_15,#cake_img_16,
    #cake_img_17,#cake_img_18
    {
        width: 385px;
        height: 200px;
    }
}

@media (max-width:415px) {
    .hero-header a {
        margin: 0 !important;
    }

    .hero-header {
        background-position: center;
    }

    #cake_img_1,#cake_img_2,#cake_img_3,#cake_img_4,
    #cake_img_5,#cake_img_6,#cake_img_7,#cake_img_8,
    #cake_img_9,#cake_img_10,#cake_img_11,#cake_img_12,
    #cake_img_13,#cake_img_14,#cake_img_15,#cake_img_16,
    #cake_img_17,#cake_img_18
    {
        width: 370px;
        height: 200px;
    }
}

@media (max-width:376px) {
    .hero-header a {
        margin: 0 !important;
    }

    .hero-header {
        background-position: center;
    }

    #cake_img_1,#cake_img_2,#cake_img_3,#cake_img_4,
    #cake_img_5,#cake_img_6,#cake_img_7,#cake_img_8,
    #cake_img_9,#cake_img_10,#cake_img_11,#cake_img_12,
    #cake_img_13,#cake_img_14,#cake_img_15,#cake_img_16,
    #cake_img_17,#cake_img_18
    {
        width: 350px;
        height: 200px;
    }
}

@media (max-width:257px) {

    /* .navbar{
        padding: 0 !important;
    } */
    .navbar .navbar-brand h1 {
        font-size: 15px !important;
    }

    .navbar-toggler {
        font-size: 15px !important;
    }

    .hero-header a {
        margin: 0 !important;
    }
}

@media (max-width:281px) {
    .navbar .navbar-brand h1 {
        font-size: 15px !important;
    }

    .navbar-toggler {
        font-size: 15px !important;
    }

    .hero-header a {
        margin: 0 !important;
    }

    .hero-header {
        background-position: center;
    }

    #cake_img_1,#cake_img_2,#cake_img_3,#cake_img_4,
    #cake_img_5,#cake_img_6,#cake_img_7,#cake_img_8,
    #cake_img_9,#cake_img_10,#cake_img_11,#cake_img_12,
    #cake_img_13,#cake_img_14,#cake_img_15,#cake_img_16,
    #cake_img_17,#cake_img_18
    {
        width: 250px;
        height: 200px;
    }
}